<footer class="main-footer">
    <strong>Copyright &copy; 2020-2021 <a href="https://www.instagram.com/5hacker.py/">Abdulaziz Alsharji</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank" class="text-danger" href="https://www.youtube.com"><i class="fab fa-lg fa-youtube"></i></a>
        <a target="_blank" href="https://www.facebook.com"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
        <a target="_blank" class="text-warning" href="https://www.instagram.com/5hacker.py/"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
    </div>
  </footer>